<div class="form-select" tabindex="0">
  <div class="form-select__title">{{title}}</div>
  {{{ SimpleSelect ref="select" options=options }}}
  <hr>
  {{{ InputValidation ref="selectValidation" validateStr=""}}}
</div>
