<section class="attach-popup">
  <button type="button" class="popup-button">
    <div class="photo-icon"></div>
    <span>Фото или Видео</span>
  </button>
  <button type="button" class="popup-button">
    <div class="file-icon"></div>
    <span>Файл</span>
  </button>
  <button type="button" class="popup-button">
    <div class="location-icon"></div>
    <span>Локация</span>
  </button>
</section>
