<section class="chat-context-popup">
  <button type="button" class="popup-button">
    <div class="add-icon"></div>
    <span>Добавить пользователя</span>
  </button>
  <button type="button" class="popup-button">
    <div class="remove-icon"></div>
    <span>Удалить пользователя</span>
  </button>
</section>
