%icon {
  background-repeat: no-repeat;
  background-position: center;
}

.icon-no-photo {
  @extend %icon;
  background-image: url("@assets/icons/contactNoPhoto.svg");
  height: 50px;
  width: 50px;
}

.icon-clip {
  @extend %icon;
  background-image: url("@assets/icons/clip.svg");
  height: 50px;
  width: 50px;
}

.icon-three-dots {
  @extend %icon;
  background-image: url("@assets/icons/threeDots.svg");
  height: 16px;
  width: 16px;
}
