<section class="modal">
    {{{ ModalCloseButton onClick=closeHandler}}}
    <p>Удаление пользователя из чата</p>
    {{{ FormSelect options=users title="Имя пользователя" name="login" ref="select" type="text" }}}
    {{{ FormButton title="Удалить" onClick=removeHandler}}}
</section>
