<section class="modal">
    {{{ ModalCloseButton onClick=closeHandler}}}
    <p>Создание нового чата</p>
    {{{ FormInput title="Название чата" name="name" ref="name" type="text" }}}
    {{{ FormButton title="Создать" onClick=addHandler}}}
</section>
