@use '@styles/variables' as v;

.profile-page {
  display: flex;
  height: 100%;
  width: 100%;
  color: v.$c-title;

  .profile-page__backward {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: v.$c-background-gray;
    border-right: 1px solid v.$c-light-gray;
  }

  .profile-page__content {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    background-color: v.$c-white;
   
    .profile-avatar {
      background-image: url("@assets/icons/avatarPlaceholder.svg");
      width: 130px;
      height: 130px;
    }

    .profile-name {
      text-align: center;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1rem;
      cursor: default;
    }

    .profile-form {
      width: 500px;

      &__actions {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
