<div class="avatar-input" name="avatar" {{#if avatarUri}}
    style="background-image: url({{avatarUri}}); background-size: cover;" {{/if}}>
    <div class="avatar-input__hint-container">Изменить аватар</div>
    <input type="file" id="avatar-input" accept=".jpg, .png, .jpeg" style="display: none;">
</div>
