@use '@styles/variables' as v;

.message-card {
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 0.5rem;
  max-width: 70%;

  &_my {
    align-self: flex-end;
    background-color: v.$c-card-my;
  }

  &_his {
    align-self: flex-start;
    background-color: v.$c-card-his;
  }
}
