<section class="modal">
    {{{ ModalCloseButton onClick=closeHandler}}}
    <p>Добавление пользователя в чат</p>
    {{{ FormInput title="Логин пользователя" name="login" ref="login" type="text" }}}
    {{{ FormButton title="Добавить" onClick=addHandler}}}
</section>
