<div class="login-page">
  <form class="login-form" action="">
    <span class="login-form__title">Вход</span>
    {{> FormInput title="Логин" value="IVAN" name="name" validation="" }}
    {{> FormInput title="Пароль" type="password" name="pass" value="123456" }}
    <br>
    {{> FormButton title="Авторизоваться" linkTo="main"}}
    {{> FormButton title="Нет аккаунта?" transparent=true}}
  </form>
</div>