<main class="login-page">
  <form class="login-form" action="">
    <span class="login-form__title">Вход</span>
    {{{ FormInput title="Логин" value="biba" name="login" ref="login" validateFn=validateFns.login }}}
    {{{ FormInput title="Пароль" value="Bobaboba1" name="password" ref="password" type="text" validateFn=validateFns.password }}}
    <br>
    {{{ FormButton title="Авторизоваться" onClick=loginHandler }}}
    {{{ FormButton title="Нет аккаунта?" transparent=true onClick=noAccountHandler }}}
  </form>
</main>
