<main class="login-page">
  <form class="login-form" action="">
    <span class="login-form__title">Вход</span>
    {{{ FormInput title="Логин" value="IVAN" name="login" ref="login" validateFn=validateFns.login }}}
    {{{ FormInput title="Пароль" value="1234567A" name="password" ref="password" type="text"
    validateFn=validateFns.password }}}
    <br>
    {{{ FormButton title="Авторизоваться" onClick=onLogin }}}
    {{{ FormButton title="Нет аккаунта?" transparent=true }}}
  </form>
</main>
