<div class="error-page">
    <span class="error-page__error-code">{{code}}</span>
    <span class="error-page__error-description">{{description}}</span>
    <br>
    {{> FormButton title="Назад к чатам" transparent=true linkTo="main"}}
  </form>
</div>
