<div class="form-input" tabindex="0">
  <div class="form-input__title">{{title}}</div>
  {{{ SimpleInput 
      className="form-input__input" 
      value=value
      type=type
      name=name
      ref="input"
      onBlur=onBlur
  }}}
  <hr>
  {{#if validation}}
  <div class="form-input__validation">{{validation}}</div>
  {{/if}}
</div>
