%arrow-button {
  background-image: url("@assets/icons/arrowButton.svg");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.arrow-button_right {
  @extend %arrow-button;
}

.arrow-button_left {
  @extend %arrow-button;
  
  transform: rotate(180deg);
}
