<div class="contact-card">
  <div class="contact-card__photo">
    <div class="icon-no-photo"></div>
  </div>
  <div class="contact-card__info">
    <div class="d-flex alignItems-baseline justifyContent-spaceBetween">
      <div class="contact-card__contact-name">{{name}}</div>
      <div class="contact-card__last-message-time">{{time}}</div>
    </div>
    <div class="contact-card__last-message-text">{{#each this.messages}}{{#if @last}}{{this.content}}{{/if}}{{/each}}</div>
    {{#if messagesCount}}
    <div class="contact-card__new-mwssages-count">{{messagesCount}}</div>
    {{/if}}
  </div>
</div>