.message-input {
  outline: none;
  border: none;
  background-color: #EFEFEF;
  color: #1E1E1E;
  border-radius: 10px;
  width: 100%;
  line-height: 1.2rem;
  font-size: 1rem;

  resize: none;
  overflow: hidden;
}
