@use '@styles/variables' as v;
@import "@styles/flex";
@import "@styles/common";
@import "@styles/icons";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: v.$c-black;
  background-color: v.$c-white;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: monospace;
  font-size: 16px;
  color: black;
}

#root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
