<div class="messages-list">
  <header class="messages-list__header">
    <div class="contact-info">
      <div class="contact-info__avatar">
        <div class="icon-no-photo"></div>
      </div>
      <div class="contact-info__name">
        {{title}}
      </div>
    </div>
    <div class="more-button">
      <div class="icon-three-dots" linkTo="ErrorPage"></div>
    </div>
  </header>
  <main class="messages-list__content">
    {{#each messages}}
    {{{ MessageCard whose="his" text=this.content }}}
    {{/each}}
  </main>
  <footer class="messages-list__footer">
    <div class="attach-button">
      <div class="icon-clip"></div>
    </div>
    {{{ MessageInput }}}
    <div class="arrow-button_right" linkTo="ErrorPage"></div>
  </footer>
</div>
