.messages-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1;
  margin: 0 0.5rem;
  overflow: auto;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;

    .contact-info {
      display: flex;
      padding: 1rem;
      justify-content: flex-start;
      align-items: center;
      column-gap: 1rem;

      &__name {
        font-weight: 600;
      }
    }

    .more-button {
      display: flex;
      align-items: center;
      padding: 1rem;
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    padding: 1rem 0;
  }

  &__footer {
    display: flex;
    justify-content: stretch;
    align-items: flex-end;
    column-gap: 0.5rem;
    border-top: 1px solid #EAEAEA;
    padding: 0.5rem 0;
  }
}
