@use '@styles/variables' as v;

.messages-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0.5rem;
  height: 100vh;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid v.$c-border;

    .contact-info {
      display: flex;
      padding: 1rem;
      justify-content: flex-start;
      align-items: center;
      column-gap: 1rem;

      &__name {
        font-weight: 600;
      }

      &__avatar {
        .avatar-image {
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }
      }
    }

    .more-button {
      display: flex;
      align-items: center;
      padding-right: 1rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
    row-gap: 1rem;
    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: v.$c-background-gray;
    }

    &::-webkit-scrollbar-thumb {
      background: v.$c-gray;
      border-radius: 10px;
    }
  }

  &__footer {
    display: flex;
    justify-content: stretch;
    align-items: center;
    column-gap: 0.5rem;
    border-top: 1px solid v.$c-border;
    padding: 0.5rem 0;
  }

  .welcome-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
