<div class="main-layout">
  <div class="left-side">
    {{{ Link title="Профиль >" className="link-to-profile" to="ProfilePage" }}}
    {{{ SearchInput name="search" }}}
    {{{ ChatsList }}}
  </div>
  <div class="right-side">
    <div class="contact-info">
    </div>
    {{{ MessagesList }}}
    <div class="messaging"></div>
  </div>
</div>
